<div class="container" style="margin-top:30px">
    <div class="row">
<div class="col-sm-3">
    <div class="m-2">
        <h5><b>Links to other social media</b></h5>
        <p>Look at the below</p>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link " href="#">Twitter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Facebook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">HTML</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Social Network</a>
            </li>
        </ul>
    </div>
</div>