<div class="col-sm-3 space">
    <div class="card card-body bg-light m-2">
        <p>ADS</p>
    </div>
    <div class="card card-body bg-light m-2">
        <p>ADS</p>
    </div>
    <div class="card card-body bg-light m-2">
        <p>ADS</p>
    </div>
    <div class="card card-body bg-light m-2">
        <p>ADS</p>
    </div>
</div>
</div>
</div>