<%- include('./partials/header', {
    title: 'App '+ user.name,
    homeLink: '/home',
    addPost: 'inline',
    showSearch: 'inline',
    userLink: '/dashboard',
    userImage: user.image,
    userName: user.name,
    item1: 'dashboard',
    item2: 'home',
    item3: 'logout',
    link1: '/dashboard',
    link2: '/home',
    link3: '/users/logout'    
  }); %>
  <% include ./partials/homeLSB%>

  <%- include('./partials/posts', {
    user: user, 
    posts: posts,
    URL: '/dashboard',
  }); %>

  <% include ./partials/homeRSB%>
  <% include ./partials/postScript%>

  <img src="<%= user.image %>" alt="me">
  <h3><%= user.name %></h3>

  <% include ./partials/footer%>

