<%- include('./partials/header', {
    title: 'App '+ user.name,
    homeLink: '/home',
    addPost: 'inline',
    showSearch: 'inline',
    userLink: '/dashboard',
    userImage: user.image,
    userName: user.name,
    item1: 'dashboard',
    item2: 'home',
    item3: 'logout',
    link1: '/dashboard',
    link2: '/home',
    link3: '/users/logout'    
  }); %>

  <h3>Home Page</h3>

  <% include ./partials/footer%>