<%- include('./partials/header', {
    title: 'App Home',
    homeLink: '/',
    addPost: 'none',
    showSearch: 'inline',
    userLink: '#',
    userImage: 'https://pbs.twimg.com/profile_images/1171786931/nota_icon_400x400.png',
    userName: 'Sign in',
    item1: 'Login',
    item2: 'Register',
    item3: 'Home',
    home: 'Home Page',
    link1: '/users/login',
    link2: '/users/register',
    link3: '/'    
}); %>

<div class="row mt-5 mb-5">
  <div class="col-md-8 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"></i>The social Network App</h1>
      <% include ./partials/messages %>
      <a href="/users/login" class="btn btn-primary btn-lg col-md-5 m-auto">
        <i class="fas fa-user-plus"></i> Sign in
      </a>
      <br>
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/lB95KLmpLR4" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        class="embed-responsive-item"
        allowfullscreen></iframe>
      </div>
      <h5 class="text-center">Sign up for a great experience</h5>
    </div>
  </div>
</div>

<% include ./partials/footer %>

