<%- include('./partials/header', {
  title: 'App register',
  homeLink: '/',
  addPost: 'none',
  showSearch: 'none',
  userLink: '#',
  userImage: 'https://pbs.twimg.com/profile_images/1171786931/nota_icon_400x400.png',
  userName: 'Sign in',
  item1: 'Login',
  item2: 'Register',
  item3: 'Home',
  home: 'Home Page',
  link1: '/users/login',
  link2: '/users/register',
  link3: '/'    
}); %>


<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
      <% include ./partials/messages %>
        <form action="/users/login" method="POST" class="mb-1">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
          </div>
          <button type="submit" class="btn btn-primary col-md-10 btn-block m-auto"><i class="fas fa-sign-in-alt"></i> Login</button>
        </form>
        <a class="btn btn-danger col-md-10 btn-block m-auto" href="/users/google"><i class="fab fa-google-plus-g"></i>  Sign in with google</a>
        <p class="lead mt-4">
          No Account? <a href="/users/register">Register</a>
        </p>
    </div>
  </div>
</div>

<% include ./partials/footer %>
